@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WeatherApp.MVC.Models
@using System.Globalization
@model WeatherApp.MVC.Models.Weather

@{
	ViewBag.Title = "title";
	Layout = "_Layout";

	var weatherApiResponse = ViewBag.WeatherResponse as WeatherApiResponse;
}

@{
	await Html.RenderPartialAsync("_Header");
}

<div class="hero" data-bg-image="images/banner.png">
	<div class="container">
		<form asp-controller="Weather" asp-action="Index" method="post" class="find-location">
			<input type="text" placeholder="Find your location..." asp-for="CityName" />
			<input type="submit" value="Find">
		</form>

	</div>
</div>

@if (weatherApiResponse == null)
{
	return;
}

<div class="forecast-table">
	<div class="container">
		<div class="forecast-container">
			<div class="today forecast">
				<div class="forecast-header">
					<div class="day">@weatherApiResponse?.location.localtime</div>

				</div> <!-- .forecast-header -->
				<div class="forecast-content">
					<div id="forecast-content-header">

						<div class="location">@weatherApiResponse?.location.country / @weatherApiResponse?.location.name</div>
						<script>
							$("title")[0].innerText = "@weatherApiResponse?.location.country / @weatherApiResponse?.location.name - Weather";
						</script>
						@if (weatherApiResponse != null)
						{
							<div id="Favorite">
								<button class="btn" id="FavoriteBtn" data-city="@weatherApiResponse?.location.name">
									<i class="fa-regular fa-star fa-2xl" style="color: #fbff00;"></i>
									<h4 style="margin-top: 10px"> Favori Ekle </h4>
								</button>

							</div>
							<script>
								favoriteCity = localStorage.getItem('favoriteCity').split(',')

								if (favoriteCity.includes("@weatherApiResponse?.location.name")) { // varsa
									$("#FavoriteBtn h4")[0].innerText = "Favori Kaldır"
									$("#FavoriteBtn i")[0].classList.value = "fa-solid fa-star fa-2xl";
								}
								else { // yoksa

									$("#FavoriteBtn h4")[0].innerText = "Favori Ekle"
									$("#FavoriteBtn i")[0].classList.value = "fa-regular fa-star fa-2xl";
								}
							</script>
						}

					</div>
					<div class="degree">

						<div class="num">@weatherApiResponse!.current.temp_c<sup>o</sup>C</div>

						<div class="forecast-icon">
							<img src="@weatherApiResponse.current.condition.icon" alt="" width=90>
						</div>
					</div>

				</div>
			</div>
			@foreach (var forecast in weatherApiResponse.forecast.forecastday.Skip(1)) // bugün hariç
			{

				<div class="forecast">
					<div class="forecast-header">
						<div class="day">@Convert.ToDateTime(forecast.date).DayOfWeek</div>
					</div> <!-- .forecast-header -->
					<div class="forecast-content">
						<div class="forecast-icon">
							<img src="@forecast.day.condition.icon" alt="" width=80>
						</div>
						<div class="degree">@forecast.day.avgtemp_c<sup>o</sup>C</div>
						<small>@forecast.day.mintemp_c<sup>o</sup></small>
					</div>

				</div>
			}
			<div class="forecast">
				<div class="bg-dark favorite-div text-light" style="padding: 4.5%;">
					<h3>Favoriler</h3>
					<i class="fa-solid fa-star fa-2xl" style="color: #fbff00; position: absolute; top: 12%; right: 9%;"></i>
					<table id="FavoriteTable" class="table table-dark">
						<tbody id="FavoriteTableBody" style="width: 100%">
						</tbody>

					</table>
				</div>
			</div>
		</div>
		<hr>
		<div class="hourly-forecast container">
			<div style="height: 1px;"></div>
			<div class="forecast-header" style="text-align: center;">
				<div style="font-size: 18px;font-weight: bold; margin:15px 0 5px 0">Saatlik tahmin</div>
			</div> <!-- .forecast-header -->
			<div class="forecast-content">

				@foreach (var hour in weatherApiResponse.forecast.forecastday[0].hour)
				{

					<div class="hourly-forecast-table">
						<div class="time">@Convert.ToDateTime(hour.time).ToShortTimeString()</div>
						<div class="weather-icon">
							<img src="@hour.condition.icon" alt="">
						</div>
						<div class="temp">@hour.temp_c<sup>o</sup>C</div>
					</div>
				}


			</div>
			<hr style="width: 33%; margin-top: 15px; margin-bottom: 15px;">

			<div class="detail-forecast">
				<div class="detail-header" style="text-align: center;">
					<div style="font-size: 18px;font-weight: bold; margin:5px 0 0 0">Detaylar</div>
				</div> <!-- .forecast-header -->

				<div class="detail-content">
					<div class="col-md-7">
						<div class="detail-row" style="margin-top: 25px;">
							<div class="detail-col col-md-2">
								<div class="detail-label"><b>Rüzgar</b></div>
								<div class="detail-value">@weatherApiResponse.current.wind_kph km/h</div>
								<div class="detail-icon">
									<img src="images/icon-wind.png" alt="" srcset="">
								</div>
							</div>
							<div class="detail-col col-md-2">
								@{
									var yon = @weatherApiResponse.Wind().yon;
									var derece = @weatherApiResponse.Wind().derece - 80 + "deg";
								}
								<div class="detail-label"><b>Yön</b></div>
								<div class="detail-value">@yon</div>
								<div class="detail-deg">@weatherApiResponse.Wind().derece<sup>o</sup></div>
								<div class="detail-icon">
									<img src="images/icon-compass.png" style="transform: rotate(@derece)" alt="" srcset="">
								</div>
							</div>
							@*<div class="detail-col col-md-2">
							<div class="detail-label"><b>Nem</b></div>
							<div class="detail-value">@weatherApiResponse.currentkm/h</div>
							</div>*@
							<div class="detail-col col-md-2">
								<div class="detail-label"><b>Yağmur</b></div>
								<div class="detail-value">@weatherApiResponse.forecast.forecastday[0].day.daily_will_it_rain %</div>
								<div class="detail-icon">
									<img src="images/icon-umberella.png" alt="" srcset="">
								</div>
							</div>
							<div class="detail-col col-md-2">
								<div class="detail-label"><b>Basınç</b></div>
								<div class="detail-value">@weatherApiResponse.current.pressure_in hPa</div>
							</div>
						</div> <!-- .detail-row -->
					</div>
					<div class="col-md-5">

						<div class="sun-detail-row"
							 style="/* background-color: aqua; */width: 100%;height: 55px;margin-top: 25px;">
							<div id="sun-id1"></div>
							<div id="sun-id2">
								<div id="sunUp" style="float: left;"><b>@weatherApiResponse.forecast.forecastday[0].astro.sunrise</b></div> <div id="sunDown" style="float: right;"><b>@weatherApiResponse.forecast.forecastday[0].astro.sunset</b></div>
							</div>
							<div id="sun-id3"></div>
							@{
								var dt1 = DateTime.ParseExact(weatherApiResponse.forecast.forecastday[0].astro.sunrise, "hh:mm tt", CultureInfo.InvariantCulture);  // 06:04 AM
								var dt2 = DateTime.ParseExact(weatherApiResponse.forecast.forecastday[0].astro.sunset, "hh:mm tt", CultureInfo.InvariantCulture);
								var fark = dt2 - dt1;
								var now = Convert.ToDateTime(weatherApiResponse.location.localtime);
								var gecenSure = now - dt1;
								var yuzde = (gecenSure.TotalSeconds / fark.TotalSeconds) * 100 / 2;
								var sun_yuzde = Math.Round(yuzde, 0);
							}
							@if (sun_yuzde <= 49 && gecenSure.Hours > 0)
							{
								<div id="sun-id4" style="left: @sun_yuzde%"></div>

							}
							else
							{
								<div id="sun-id4" style="left: 0">
									<img style="transform: translate(5.5em, 63%)" src="@weatherApiResponse.current.condition.icon" alt="" width=55>
								</div>

							}

						</div>
					</div>

				</div> <!-- .detail-content -->
			</div> <!-- .detail-forecast -->
		</div> <!-- hourly-forecast -->
	</div>
</div>

@{
	await Html.RenderPartialAsync("_newsContent");
}

@{
	await Html.RenderPartialAsync("_mainContent");
}

@{
	await Html.RenderPartialAsync("_Footer");
}
